* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    font-family: 'Work Sans', sans-serif;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px 0;
}

img {
    width: 100px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

form {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
}

fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
}


input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

textarea {
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="color"] {
    width: 50px;
    padding: 0 5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}